 
 <% if logged_in? && current_user == @user%>
    <h1 class="text-center mt-4">Edit Your Profile</h1>
<%else%>
    <h1 class="text-center mt-4">(Admin) Edit <%=@user.username%>'s Profile</h1>
<%end%>

<%= render 'form'%>