<div id="page-content">
    <div class = "container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Welcome to the Homepage!</h1>
            <p class="lead">This is the first project I've ever attempted genuine design with, a la Bootstrap. Gotta start somewhere, right?</p>
            <hr class="my-4">
            <p>The button is talking:</p>
            <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">
            Sign up!
            </a>
            </p>
    </div>
</div>
<%= link_to 'About page', about_path %> <br/>
</div>
<div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white">
        <div class="container text-center">
        <small>Copyright &copy;2021 Melanie Quinto Neilan - <%= link_to "LinkedIn", "https://www.linkedin.com/in/melanie-neilan/", class: "text-white" %></small>
        </div>
    </footer>
</div>