 <h1 class="text-center mt-4">Create a new category!</h1>


<%# form copied from _form partial
so that it could be customized %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
          <%= render 'form' %>

            <%= link_to "[ Cancel and return to All Categories ]", categories_path, class: "row justify-content-center text-decoration-none"%>
        </div>
    </div>

</div>